@forward "./variables";
@forward "./mixins";
@forward "./functions";
@forward "./global/";

.section {
    margin-top: 80px;

    .title {
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
    }
}

.page-width {
    padding: 0 40px;
}
