@use "../../styles" as *;

.navbar {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    
    .btn {
        cursor: pointer;
    }

    .icon {
        width: 30px;

        g {
            fill: none;
            stroke: $bg-color--2;
            stroke-width: 2;
        }
    }

    .account-and-cart {
        display: flex;

        .account-btn {
            margin-right: 30px;
        }
    }

    nav {
        display: flex;
        padding-left: 150px;

        .link-wrapper {
            padding: 20px;
            text-transform: uppercase;
            letter-spacing: .2em;
        }

        .logo-wrapper {
            width: 110px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}