$text-color--1: #ffffff;
$text-color--2: #000000;
$btn-bg-color--1: #000000;
$btn-bg-color--2: #ffffff;
$btn-bg-color--3: #585065;
$btn-bg-color--4: #9D1339;
$bg-color--1: #ffffff;
$bg-color--2: #000000;
$border-color--1: #d9d9d9;
$border-color--2: #ffffff;