@font-face {
    font-family: "Tenor Sans";
    src: url("../../static/fonts/TenorSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Twentieth Century";
    src: url("../../static/fonts/TwentiethCenturyforKenmoreMedium.ttf") format("truetype");
}


$title-font--1: "Tenor Sans";
$sub-title-font--1: "Twentieth Century";