$bullet-transition-time: 5s;
$subtitle-transition-delay: .7s;
$shop-btn-transition-delay: .8s;
$shop-btn-transition-delay--1: 1.5s;
$shop-btn-transition-delay--2: 1.9s;

$bullet-animation-name: slider_bullet;
$bullet-animation-duration: 5s;
$bullet-animation-style: linear;
