@use "../../styles" as *;

.announcement-bar {
    background: $bg-color--2;
    color: $text-color--1;

    .annoucement-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 13px 0;

        .title {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: .2em;
            margin-right: 5px;
            font-weight: 600;
        }

        .sub-title {
            font-size: 15px;
        }
    }
}