@use "../../styles/" as *;

.slideshow {
    .shop-btn {
        transition: .8s;
        opacity: 0;
    }
    
    .swiper-slide-active {
        .slide-container {
            .content-wrapper {
                .title {
                    transform: translateY(0);
                }
    
                .sub-title {
                    transform: translateY(0);
                }
    
                .shop-btn {
                    opacity: 1;
                }
            }
        }
    
    }
         
    .autoplay-btn {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
        display: flex;
        justify-content: center;
    
        .swiper-pagination-bullet {
            position: relative;
            width: 120px;
            height: 7px;
            border-radius: 0;
            background: rgb(255, 255, 255, .4);
            transition: .2s ease-in;
            opacity: 1;
            overflow: hidden;
    
            &:hover {
                background: rgb(255, 255, 255, .7);
            }
    
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background: $btn-bg-color--2;
            }
    
            &.swiper-pagination-bullet-active {
                position: relative;
                
                &::after {
                    content: "";
                    opacity: 1;
                    position: absolute;
                    @include slider_animation($bullet-animation-name, $bullet-animation-duration,
                    $bullet-animation-style)
                }
            }
        }
       
    }
}
